#footerpad {
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: #252424;
}

@media (min-width: 992px) {
  #footerpad {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #252424;
  }
}

a:focus, a:hover {
  color: #e30fa7;
}

